.ajt_groupe{
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: left;
    margin-left: 130px;
}
#txtaddbtn{
    text-align: left;
    margin-left: 130px; 
}
#identifiant_input {
    width : 20% ; 
}

#nom_groupe_input {
    width : 20%;
}

#addgroupbtn {
    background-color: #b43030;
    border-color: #b43030;
    color : white;
    width : 8%; 
    
}