dist/
front/node_modules/
api/node_modules/
node_modules/
.DS_Store
front/npm-debug.log
front/yarn-error.log
front/yarn.lock
front/package-lock.json
api/npm-debug.log
api/yarn-error.log
api/yarn.lock
api/package-lock.json
