.liste-conv{
    overflow-y: scroll !important;
    height: 100vh !important;
}

.messages{
    overflow-y: scroll !important;
    overflow-x: hidden ;
    height: 82vh !important;
}

.messages-container{
    height: 100vh !important;
}

.bulle{
    border-radius: 50%;
    height: 40px;
}