/* ================================================== */
/* Initialisation des variables */
/* ================================================== */

$text: #172317;
$back: #f9efef;
$inputZone: #555;
$contenant: lightgray;
$couleur2 : #fd8f44;
$couleur1 : #1a1e21;

.container-profil{
    background-color: $contenant;
    margin-bottom: 5%;
    margin-top: 20px;
    padding: 4% 4% 4% 4%;
}

.container-info-prof{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.image-prof{
    width: 200px;
    height: 200px;
    margin-bottom: 10%;
}

