$text: #172317;
$back: #f9efef;
$inputZone: #555;
$contenant: lightgray;
$couleur2 : #ef3d3d;
$couleur1 : #1a1e21;

.sec1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ecart{
  margin-bottom: 1em;
}

.deco:hover{
  text-decoration: underline;
}

.box-mdp{
  padding: 2% 2% 2% 2%;
}