.forgot-password {
  .bt {
    background-color: #b43030 !important;
    border-color:#b43030 !important;
    color: white !important;
  }

  .bt:hover{
    color:black !important;
  }
}


.sec1{
align-items: center;
width: 50%;
margin-left: 20em;
margin-top: 10em;
}

.ecart{
  margin-bottom: 1em;
}

.deco:hover{
  text-decoration: underline;
}