@charset "utf-8";

.divcent{
    margin-top: 40px;
}
.ajt_groupe{
    margin-bottom: 60px;
    text-align: left;
    margin-left: 130px;
}

.mb-4{
    margin-bottom: 200px;
}

#exampleFormControlInputid {
    width : 20% ; 
   
}

#exampleFormControlInputnom {
    width : 20%;
}

.btn {
    background-color: #b43030;
    border-color: #b43030;
    color : white;
    width : 8%;
}