@charset "utf-8";

:root {
    --container: #eee;
    --text: #111;
    --back: #fff;
    --border: #555;
    --couleur1: #b43030;
    --couleur2 : #e86f24;
  }

.navbar{
    background-color: var(--couleur1);
    color: azure;
}

.navbar a{
    color:var(--back);
    text-decoration: none;
    margin:1em;
}

a:hover{
    color:var(--text) !important;
}

.btn{
color: var(--back) !important;
border: 1px solid var(--back) !important;
}

.btn:hover{
    background-color:var(--couleur1) !important;
}