@charset "utf-8";

:root {
    --container: #eee;
    --text: #111;
    --back: #fff;
    --border: #555;
    --couleur1: #b43030;
    --couleur2 : #e86f24;
  }

.navbar{
    background-color: var(--couleur1);
    color: azure;
}

.navbar a{
    color:var(--back);
    text-decoration: none;
    margin:1em;
}

a:hover{
    color:var(--text) !important;
}

.btn{
color: var(--back) !important;
border: 1px solid var(--back) !important;
}

.btn:hover{
    background-color:var(--couleur1) !important;
}

footer{
    align-items: center;
    margin-top: auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    left:0;
    right:0;
    border: 1px solid var(--couleur1);
    margin-top:auto;
    height: 100px;
    background-color: var(--couleur1);
}

.card{
    background-color: var(--couleur1);
    color: var(--back);
    align-items: center;
    border-radius: 0px !important;
    border:none !important;
}

.card a{
    color: var(--back);
    text-decoration: none;
}

html, body {
    height: 100%;
  }
  
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }