#affprofinfo {
    font-size: 18px;
    margin-bottom: 20px;
}
#affprofprenom{
    margin-bottom: 20px;
}
#affprofnom{
    margin-bottom: 20px;
}
#affprofmail{
    margin-bottom: 20px;
}
#affprofdesc{
    margin-bottom: 25px;
}
#affprofgrou{
    font-size: 18px;
    margin-bottom: 20px;
}

#affprofpromo{
    margin-bottom: 20px;
}

#affprofgroutp{
    margin-bottom: 20px;
}
#affprofasso{
    margin-bottom: 25px;
}

#affprofprenomnom{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

#affprofmodifprof{
    text-align: center;
}

#affprofclasse{
    margin-bottom: 20px;
}

#affprofimage{
    width : 150px;
    margin-left: 110px; 
    margin-top: 10px;
}

#affprofborder{
    margin-top: 30px;
}

