/* ================================================== */
/* Initialisation des variables */
/* ================================================== */

$text: #172317;
$back: #f9efef;
$inputZone: #555;
$contenant: lightgray;
$couleur2 : #fd8f44;
$couleur1 : #1a1e21;

.actu {
    background-color: $contenant;
}

.nav-filtre-actu{
    display: flex;
    flex-direction: column;
    overflow-y: scroll !important;
    height: 72vh !important;
  }

.back-im {
    background-color: $back;
}

.img-article{
    height: 20vh;
    width: 80%;
}

.contener-info-asso{
    display: flex;
    align-items: center;
}

.info-asso{
    height: auto;
    width: 70%;
    border-radius: 10px;
    text-align: justify;
    margin-left: 15%;
    align-items: center;
    background: $contenant;
}

.info-asso h2{
    text-align: center;
}

.info-asso .texte-asso{
    padding: 5%;
}

.shadow-manuelle{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    border: solid 1px;
    border-color: $inputZone;
    color: $couleur1;
}

.titre-event{
    font-size: 25px;
    text-shadow: 1px 1px 2px #172317;
    position: relative;
}

.changeActu{
    margin-bottom: 10px;
}

.text-style{
    text-align: justify;
}