#exampleFormControlInput1 {
    box-align: center;
    width : 60%;
}

#exampleFormControlInput2 {
    box-align: center;
    width : 60%;
}


.bt {
    background-color: #b43030 !important;
    border-color:#b43030 !important;
    color: white !important;

}

.bt:hover{
    color:black !important;
}