$text: #172317;
$back: #f9efef;
$inputZone: #555;
$contenant: lightgray;
$couleur2 : #ef3d3d;
$couleur1 : #1a1e21;


.contener-conn{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, #b43030, #ff9e02); 
}

.sect-2{
    display: grid;
    padding: 2% 2% 2% 2%;
    width: 30em;
}

.conn-border{
    height: auto;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    background: $contenant;
}

.underline-connect:hover{
    text-decoration: underline;
}

.bt{
    width: 6em;
    align-items: center;
    text-align: center;
}
